<div class="container-fluid">
    <div class="form-group">
        <label for="theInputDateRange">InputDateRange: </label>
        <wj-input-date-range #inputDateRange
            id="theInputDateRange"
            [alwaysShowCalendar]="true"
            [predefinedRanges]="predefinedRanges"
            [(value)]="rangeStart"
            [(rangeEnd)]="rangeEnd"
            [closeOnSelection]="closeOnSelection"
            [monthCount]="monthCount"
            [weeksBefore]="weeksBefore"
            [weeksAfter]="weeksAfter"
            [handleWheel]="false">
        </wj-input-date-range>
    </div>
    <div class="params">
        <div>
            <label for="closeOnSelection">closeOnSelection</label>
            <input type="checkbox" id="closeOnSelection" [(ngModel)]="closeOnSelection" />
        </div>
        <div>
            <label>monthCount</label>
            <wj-input-number [step]="1" [min]="1" [(value)]="monthCount"></wj-input-number>
        </div>
        <div>
            <label>weeksBefore</label>
            <wj-input-number [step]="1" [min]="0" [(value)]="weeksBefore"></wj-input-number>
        </div>
        <div>
            <label>weeksAfter</label>
            <wj-input-number [step]="1" [min]="0" [(value)]="weeksAfter"></wj-input-number>
        </div>
    </div>
    <p>
        The current range is: <b>from {{rangeStart | date}} to {{rangeEnd | date}}</b>
    </p>
</div>