.wj-inputnumber {
    width: 10em;
}
.params > div {
    margin-bottom: 0.5em;
}
label {
    width: 10em;
    text-align: right;
    margin-right: 0.5em;
}

body {
    margin-bottom: 36px;
}