<div id="app">
  <div class="container">
    <div class="map">
      <div class="search">
        <button
          class="btn search-location"
          type="button"
          title="Go to current location"
          (click)="gotoCurrentLocation()"
        >
          <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M12,2C15.31,2 18,4.66 18,7.95C18,12.41 12,19 12,19C12,19 6,12.41 6,7.95C6,4.66 8.69,2 12,2M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M20,19C20,21.21 16.42,23 12,23C7.58,23 4,21.21 4,19C4,17.71 5.22,16.56 7.11,15.83L7.75,16.74C6.67,17.19 6,17.81 6,18.5C6,19.88 8.69,21 12,21C15.31,21 18,19.88 18,18.5C18,17.81 17.33,17.19 16.25,16.74L16.89,15.83C18.78,16.56 20,17.71 20,19Z"
            />
          </svg>
        </button>
        <div class="control-group">
          <input
            class="control search-input"
            type="text"
            [(ngModel)]="search"
            placeholder="Search for a location"
          />
          <div class="control-group-append">
            <button
              class="btn search-submit"
              type="button"
              title="Search for a location"
              (click)="geoCode()"
              [disabled]="search.length == 0"
            >
              Find
            </button>
          </div>
        </div>
      </div>

      <!-- map with cross-hairs -->
      <app-esri-map [(extent)]="extent" [tileSource]="source">
        <app-esri-crosshair
          color="rgba(255, 255, 255, 0.7)"
          [palette]="palette"
        ></app-esri-crosshair>
      </app-esri-map>

      <!-- legend info for the selected source of the map -->
      <div class="legend">
        <app-esri-legend
          *ngIf="currentLegend"
          [source]="source"
        ></app-esri-legend>
        <select
          class="control legend-select"
          [(ngModel)]="currentLegend"
          (ngModelChange)="selectSource()"
        >
          <option disabled [value]="undefined" hidden>Map Legend</option>
          <option *ngFor="let entity of legend" [value]="entity.value">
            {{ entity.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="data">
      <div class="row" *ngIf="!location || !location.isValid">
        <div class="group">
          <div class="group-title">No data is available for this location</div>
          <div class="group-subtitle">
            Please drag the map to select a mainland location within the USA.
          </div>
        </div>
        <div>
          <ul class="locations">
            <li
              class="locations-item"
              *ngFor="let entity of locations"
              (click)="geoCode(entity.city)"
            >
              <span class="locations-city">{{ entity.city }}</span>
              <span class="locations-state">{{ entity.state }}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="data-group" *ngIf="location && location.isValid">
          <div class="group">
            <div class="group-title">{{ location.name }}</div>
            <div class="group-description">
              The dominant tapestry is
              {{ sources.tapestry.values.TAPSEGNAM.value }}.
              {{ domTapDescription }}
            </div>
          </div>

          <wj-tab-panel [selectedIndex]="0">
            <wj-tab>
              <a href="#">Demographics</a>
              <div>
                <div class="data-col">
                  <app-gdash-tile
                    header="Population by Sex"
                    icon="<path d='M7.5,2A2,2 0 0,1 9.5,4A2,2 0 0,1 7.5,6A2,2 0 0,1 5.5,4A2,2 0 0,1 7.5,2M6,7H9A2,2 0 0,1 11,9V14.5H9.5V22H5.5V14.5H4V9A2,2 0 0,1 6,7M16.5,2A2,2 0 0,1 18.5,4A2,2 0 0,1 16.5,6A2,2 0 0,1 14.5,4A2,2 0 0,1 16.5,2M15,22V16H12L14.59,8.41C14.84,7.59 15.6,7 16.5,7C17.4,7 18.16,7.59 18.41,8.41L21,16H18V22H15Z' />"
                  >
                    <div class="tile-description">
                      Total Population:
                      <b>{{
                        sources.populationBySex.values.TOTPOP_CY.value
                          | number: "1.0-0"
                      }}</b>
                    </div>
                    <div class="tile-chart">
                      <div class="flex-row">
                        <div class="flex-col">
                          <svg
                            width="48"
                            height="48"
                            viewBox="0 0 24 24"
                            [ngStyle]="{ color: palette[0] }"
                            fill="currentColor"
                          >
                            <path
                              d="M12,2A2,2 0 0,1 14,4A2,2 0 0,1 12,6A2,2 0 0,1 10,4A2,2 0 0,1 12,2M10.5,22V16H7.5L10.09,8.41C10.34,7.59 11.1,7 12,7C12.9,7 13.66,7.59 13.91,8.41L16.5,16H13.5V22H10.5Z"
                            ></path>
                          </svg>
                          <div>Female:</div>
                          <div>
                            {{
                              sources.populationBySex.values.FEMALES_CY.value
                                | number: "1.0-0"
                            }}
                          </div>
                        </div>
                        <div class="flex-col">
                          <wj-flex-pie
                            class="chart chart-pie"
                            bindingName="label"
                            binding="value"
                            [innerRadius]="0.5"
                            [palette]="palette"
                            [itemsSource]="sources.populationData"
                          >
                            <wj-flex-pie-data-label
                              position="Inside"
                              content="{value}%"
                              [offset]="10"
                            ></wj-flex-pie-data-label>
                            <wj-flex-chart-legend
                              position="None"
                            ></wj-flex-chart-legend>
                            <wj-flex-chart-animation #pieAnimation>
                            </wj-flex-chart-animation>
                          </wj-flex-pie>
                        </div>
                        <div class="flex-col">
                          <svg
                            width="48"
                            height="48"
                            viewBox="0 0 24 24"
                            [ngStyle]="{ color: palette[1] }"
                            fill="currentColor"
                          >
                            <path
                              d="M12,2A2,2 0 0,1 14,4A2,2 0 0,1 12,6A2,2 0 0,1 10,4A2,2 0 0,1 12,2M10.5,7H13.5A2,2 0 0,1 15.5,9V14.5H14V22H10V14.5H8.5V9A2,2 0 0,1 10.5,7Z"
                            />
                          </svg>
                          <div>Male:</div>
                          <div>
                            {{
                              sources.populationBySex.values.MALES_CY.value
                                | number: "1.0-0"
                            }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </app-gdash-tile>
                </div>

                <div class="data-col">
                  <app-gdash-tile
                    icon="<path d='M16 9C22 9 22 13 22 13V15H16V13C16 13 16 11.31 14.85 9.8C14.68 9.57 14.47 9.35 14.25 9.14C14.77 9.06 15.34 9 16 9M2 13C2 13 2 9 8 9S14 13 14 13V15H2V13M9 17V19H15V17L18 20L15 23V21H9V23L6 20L9 17M8 1C6.34 1 5 2.34 5 4S6.34 7 8 7 11 5.66 11 4 9.66 1 8 1M16 1C14.34 1 13 2.34 13 4S14.34 7 16 7 19 5.66 19 4 17.66 1 16 1Z' />"
                    header="Median Age"
                  >
                    <div class="tile-description">
                      The median age is
                      <b
                        >{{
                          sources.age.values.MEDAGE_CY.value | number: "1.0-0"
                        }}
                        years</b
                      >
                    </div>
                    <wj-flex-chart
                      #medianAgeChart
                      class="chart chart-median"
                      plotMargin="40 0 60 0"
                      tooltipContent="{y} people <br/> are {x}"
                      chartType="Column"
                      bindingX="name"
                      [itemsSource]="sources.age.shortList"
                      [palette]="palette"
                    >
                      <wj-flex-chart-axis
                        wjProperty="axisX"
                        majorTickMarks="None"
                        [majorGrid]="false"
                        [axisLine]="true"
                        [labels]="true"
                      ></wj-flex-chart-axis>
                      <wj-flex-chart-axis
                        wjProperty="axisY"
                        position="None"
                      ></wj-flex-chart-axis>
                      <wj-flex-chart-data-label
                        position="Top"
                        content="{y}"
                        [offset]="10"
                        [border]="true"
                        [connectingLine]="true"
                      ></wj-flex-chart-data-label>
                    </wj-flex-chart>
                  </app-gdash-tile>
                </div>
              </div>
            </wj-tab>

            <wj-tab>
              <a href="#">Affluence</a>
              <div>
                <!-- Median Household Net Worth -->
                <div class="data-col">
                  <app-gdash-tile
                    icon="<path d='M20,18H4V6H20M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4M11,17H13V16H14A1,1 0 0,0 15,15V12A1,1 0 0,0 14,11H11V10H15V8H13V7H11V8H10A1,1 0 0,0 9,9V12A1,1 0 0,0 10,13H13V14H9V16H11V17Z' />"
                    header="Median Household Net Worth"
                  >
                    <div class="tile-description">
                      <p>
                        The median net worth is
                        <b>{{
                          sources.netWorth.values.MEDNW_CY.value | currency
                        }}</b>
                      </p>
                    </div>
                    <div class="tile-chart">
                      <wj-linear-gauge
                        class="gauge gauge-linear"
                        [min]="0"
                        [max]="300000"
                        [value]="sources.netWorth.values.MEDNW_CY.value"
                        [showTicks]="true"
                        [showRanges]="false"
                        [tickSpacing]="50000"
                      >
                        <wj-range
                          [min]="0"
                          [max]="300000"
                          [color]="palette[0]"
                        ></wj-range>
                      </wj-linear-gauge>
                    </div>
                  </app-gdash-tile>
                </div>

                <!-- Home Values -->
                <div class="data-col">
                  <app-gdash-tile
                    icon="<path d='M12,3L22,12H19V20H5V12H2L12,3M9.22,8.93C8.75,9.4 8.5,10.03 8.5,10.75C8.5,12.43 10.54,13.07 11.76,13.46C13.26,13.93 13.47,14.21 13.5,14.25C13.5,15 12.15,15 12,15V15C11.37,15 11.03,14.88 10.86,14.78C10.67,14.67 10.5,14.5 10.5,14H8.5C8.5,15.43 9.24,16.16 9.85,16.5C10.18,16.7 10.57,16.84 11,16.92V18H13V16.91C14.53,16.61 15.5,15.62 15.5,14.25C15.5,12.67 13.88,12.03 12.36,11.55C10.8,11.06 10.53,10.77 10.5,10.75C10.5,10.5 10.57,10.41 10.64,10.34C10.85,10.13 11.36,10 12,10V10C12.68,10 13.5,10.13 13.5,10.75H15.5C15.5,9.34 14.56,8.37 13,8.09V7H11V8.08C10.26,8.21 9.65,8.5 9.22,8.93Z' />"
                    header="Home Values"
                  >
                    <div>
                      <div class="tile-description">
                        <b>{{ sources.homeValue.values.NAME.value }}'s</b>
                        median home value is
                        <b>{{
                          sources.homeValue.values.MEDVAL_CY.value | currency
                        }}</b>
                        ({{
                          getIndexDescription(
                            sources.homeValue.values.MEDVAL_I.value
                          )
                        }}).
                      </div>
                      <table>
                        <tbody>
                          <tr>
                            <td>Home Value Index</td>
                            <td>
                              <app-gdash-slider
                                [value]="
                                  sources.homeValue.values.MEDVAL_I.value
                                "
                                [palette]="palette"
                              ></app-gdash-slider>
                            </td>
                          </tr>
                          <tr>
                            <td>Household Income Index</td>
                            <td>
                              <app-gdash-slider
                                [value]="
                                  sources.homeValue.values.MEDHINC_I.value
                                "
                                [palette]="palette"
                              ></app-gdash-slider>
                            </td>
                          </tr>
                          <tr>
                            <td>Net Worth Index</td>
                            <td>
                              <app-gdash-slider
                                [value]="sources.homeValue.values.MEDNW_I.value"
                                [palette]="palette"
                              ></app-gdash-slider>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="tile-chart">
                        <div class="btn-group btn-group-toggle">
                          <label [ngClass]="{ btn: true, active: !detailed }">
                            <input type="radio" [(ngModel)]="isDetailed" [value]="false" />
                            Summary
                          </label>
                          <label [ngClass]="{ btn: true, active: detailed }">
                            <input type="radio" [(ngModel)]="isDetailed" [value]="true" />
                            Details
                          </label>
                        </div>

                        <div>
                          <wj-flex-chart
                            #homeValueDistributionChart
                            style="min-height: 350px"
                            class="chart chart-bar"
                            [ngStyle]="{ display: detailed ? 'block' : 'none' }"
                            chartType="Bar"
                            plotMargin="10 50 10 130"
                            tooltipContent="{y} people <br/> are {x}"
                            [itemsSource]="sources.homeValue.list"
                            [palette]="palette"
                          >
                            <wj-flex-chart-axis
                              wjProperty="axisX"
                              [axisLine]="false"
                              [majorGrid]="false"
                              [labels]="false"
                            ></wj-flex-chart-axis>
                            <wj-flex-chart-axis
                              wjProperty="axisY"
                              [majorGrid]="false"
                              [axisLine]="true"
                            ></wj-flex-chart-axis>
                            <wj-flex-chart-data-label
                              content="{y}"
                              position="Right"
                              [border]="true"
                              [connectingLine]="true"
                              [offset]="6"
                            ></wj-flex-chart-data-label>
                          </wj-flex-chart>

                          <wj-flex-chart
                            #homeValueChart
                            class="chart chart-bar"
                            [ngStyle]="{ display: detailed ? 'none' : 'block' }"
                            chartType="Bar"
                            bindingX="name"
                            tooltipContent="{y} homes in the <br/>{x} range"
                            [itemsSource]="sources.homeValue.shortList"
                            [palette]="palette"
                          >
                            <wj-flex-chart-axis
                              wjProperty="axisX"
                              majorTickMarks="None"
                              [majorGrid]="true"
                              [axisLine]="false"
                              [labels]="false"
                            ></wj-flex-chart-axis>
                            <wj-flex-chart-axis
                              wjProperty="axisY"
                              [majorGrid]="false"
                            ></wj-flex-chart-axis>
                          </wj-flex-chart>
                        </div>
                      </div>
                    </div>
                  </app-gdash-tile>
                </div>

                <!-- Household Income -->
                <div class="data-col">
                  <app-gdash-tile
                    icon="<path d='M5,6H23V18H5V6M14,9A3,3 0 0,1 17,12A3,3 0 0,1 14,15A3,3 0 0,1 11,12A3,3 0 0,1 14,9M9,8A2,2 0 0,1 7,10V14A2,2 0 0,1 9,16H19A2,2 0 0,1 21,14V10A2,2 0 0,1 19,8H9M1,10H3V20H19V22H1V10Z' />"
                    header="Household Income"
                  >
                    <div class="tile-description">
                      The average income is
                      <b>{{
                        sources.householdIncome.values.MEDHINC_CY.value
                          | currency
                      }}</b>
                    </div>
                    <wj-flex-chart
                      class="chart chart-bar-stacked"
                      chartType="Bar"
                      stacking="Stacked100pc"
                      [palette]="palette"
                      [itemsSource]="sources.householdData"
                    >
                      <wj-flex-chart-axis
                        wjProperty="axisY"
                        position="None"
                      ></wj-flex-chart-axis>
                      <wj-flex-chart-axis
                        wjProperty="axisX"
                        position="None"
                      ></wj-flex-chart-axis>
                      <wj-flex-chart-data-label
                        content="{y}"
                        position="Left"
                        [offset]="10"
                      ></wj-flex-chart-data-label>
                      <wj-flex-chart-series
                        name="Under 75k"
                        binding="0"
                      ></wj-flex-chart-series>
                      <wj-flex-chart-series
                        name="75k to 150k"
                        binding="1"
                      ></wj-flex-chart-series>
                      <wj-flex-chart-series
                        name="150k and above"
                        binding="2"
                      ></wj-flex-chart-series>
                      <wj-flex-chart-legend
                        position="Bottom"
                      ></wj-flex-chart-legend>
                    </wj-flex-chart>
                  </app-gdash-tile>
                </div>
              </div>
            </wj-tab>
          </wj-tab-panel>
        </div>
      </div>
    </div>
  </div>
</div>
