.wj-flexgrid {
    height: 400px;
    margin: 6px 0;
}

.checkbox label input[type=checkbox] {
    margin-right: 5px;
}

.checkbox label {
    margin-right: 10px;
}

.btn {
    margin-right: 5px;
}