<div class="container-fluid">
    <wj-flex-grid
        [alternatingRowStep]="0"
        [showMarquee]="true"
        selectionMode="MultiRange"
        [autoGenerateColumns]="false"
        [itemsSource]="view">

        <!-- regular fields --> 
        <wj-flex-grid-column binding="product" header="Product"></wj-flex-grid-column>
        <wj-flex-grid-column binding="brand" header="Brand"></wj-flex-grid-column>
        <wj-flex-grid-column binding="unitPrice" header="Unit Price" format="c"></wj-flex-grid-column>
        <wj-flex-grid-column binding="qty" header="Quantity" format="n0"></wj-flex-grid-column>
        <wj-flex-grid-column binding="discount" header="Discount" format="p0"></wj-flex-grid-column>

        <!-- calculated fields --> 
        <wj-flex-grid-column binding="fullName" header="Full Name" cssClass="calculated"></wj-flex-grid-column>
        <wj-flex-grid-column binding="allCaps" header="Uppercase" cssClass="calculated"></wj-flex-grid-column>
        <wj-flex-grid-column binding="totalPrice" header="Total Price" format="c" cssClass="calculated"></wj-flex-grid-column>
        <wj-flex-grid-column binding="tax" header="Tax Amount" format="c" cssClass="calculated"></wj-flex-grid-column>

    </wj-flex-grid>
</div>