/* fixed grid height */
.wj-flexgrid {
    height: 350px;
}

/* some extra cell padding */
.wj-flexgrid .wj-cell {
    padding: 8px;
}

/* some space after the labels */
label {
    margin-right: 4em;
}
