/* web components */
wjc-flex-grid.wj-web-component, 
wjc-group-panel.wj-web-component,
wjc-calendar.wj-web-component,
wjc-linear-gauge.wj-web-component,
wjc-tree-view.wj-web-component,
wjc-multi-auto-complete.wj-web-component,
wjc-color-picker.wj-web-component,
wjc-pivot-panel.wj-web-component,
wjc-financial-chart.wj-web-component,
wjc-tree-map.wj-web-component,
wjc-sunburst.wj-web-component,
wjc-flex-radar.wj-web-component,
wjc-pivot-grid.wj-web-component,
wjc-flex-chart.wj-web-component,
wjc-flex-pie.wj-web-component,
wjc-pivot-chart.wj-web-component,
wjc-report-viewer.wj-web-component,
wjc-pdf-viewer.wj-web-component,
wjc-flex-sheet.wj-web-component
{
    display: block;
}
wjc-flex-grid, 
wjc-flex-chart,
wjc-financial-chart,
wjc-tree-map,
wjc-sunburst,
wjc-flex-radar,
wjc-flex-pie
{
    height: 300px;
}

body {
    background-color: #f8f8f8;
    font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    margin-bottom: 2in;
}
h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 300;
}
.header {
    background-color: #35495E;
    margin-bottom: 14px;
    padding: 12px 0px;
    color: #e3bfd5;
}
    .header h1 {
        font-size: 40px;
        line-height: 1;
        margin: 8px 0 5px 0;
        color: #fff;
    }
    .header img {
        float: left;
        margin: 0 10px 5px 0;
    }
h3 {
    margin: 30px 0 10px -12px;
}
h1, h2, h3, h4, h5, h6 {
    color: #35495E;
}
.content {
    width:60%;
    margin: 30px 0 10px 12px;
}

.detail {
     margin-left: 100px;
}

.wj-calendar {
    max-width: 400px;
}
.wj-flexgrid, .wj-grouppanel {
    max-height: 300px;
    margin-left: 100px;
}

.wj-viewer .wj-flexgrid{
    margin-left: 0px;
}
.wj-pivotpanel{
    max-width: 500px;
    max-height: 500px;
    margin-left: 100px;
}
.wj-pivotgrid{
    max-width: 600px;
}
.wj-gauge,wj-bulletgraph {
    max-width: 400px;
    margin-left: 100px;
}
.wj-detaildialog .wj-flexgrid {
  margin-left: 0px;
}
.wj-viewer {
  max-width: 800px;
  margin-left: 100px;
}
.wj-viewer.full-screen {
    max-width: 100%;
     margin-left: 0px;
}
.seperator {
    height:1px;
    width:120%;
    margin-top:2px;
    margin-bottom:10px;
    background:#DDDDDD;
    overflow:hidden;
}

.wj-pivotchart .wj-flexchart {
    max-width: 600px;
    margin-left: 0px;
}
.container .wj-control {
    margin-bottom: 14pt;
}
tr>td:first-child {
    font-weight: bold;
}
.calendar {
    height: 100%;
    max-width: 300px;
    margin: 12px;
}
/* default trees on this sample */
.wj-treeview {
    display:block;
    height: 350px;
    font-size: 120%;
    margin-bottom: 8px;
    background: white;
     margin-left: 100px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.wj-flexsheet{
    height: 750px;
}
table .wj-control {
   border-collapse:separate;
}

wjc-linear-gauge.wj-web-component,
wjc-bullet-graph.wj-web-component {
    height:30px;
}

wjc-radial-gauge.wj-web-component {
    height:200px;
}

wjc-flex-sheet.wj-web-component {
    height:500px;
}