<div class="app container-fluid">
    <label htmlFor="cmb-pg-size">Page Size</label>
    <wj-combo-box id="cmb-pg-size" #combo
        [itemsSource]="[0, 5, 10]"
        [selectedValue]="view.pageSize"
        (textChanged)="view.pageSize = combo.selectedValue">
    </wj-combo-box>
    <br />

    <label htmlFor="cv-nav">Navigate By Item</label>
    <wj-collection-view-navigator
        [cv]="view"
        [headerFormat]="'Item {currentItem:n0} of {itemCount:n0} (on page {currentPage:n0})'">
    </wj-collection-view-navigator>
    <br />                

    <label htmlFor="cv-pg">Navigate By Page</label>
    <wj-collection-view-navigator
        [cv]="view"
        [byPage]="true"
        [headerFormat]="'Page {current:n0} of {count:n0}'">
    </wj-collection-view-navigator>
    <br />                

    <wj-flex-grid
        [itemsSource]="view"
        [selectionMode]="'RowRange'"
        [showMarquee]="true">
    </wj-flex-grid>
</div>
