<%@ include file="../include/header.jsp" %>

<body>


  <!-- 서브 sub -->
  <!-- 고객용 customer -->
  <div id="customer" class="customer">

    <!-- 퀵 바 quick bar -->
    <div class="quick_bar_wrap">
      <div class="quick_trigger">
        <div class="quick_trigger_wrap">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="quick_bar">
        <a href="" class="quick_item quick01">
          <img src="../img/quick_icon01.png" alt="">
          <p>한장으로 보는<br>라임푸드 서비스</p>
        </a>
        <a href="" class="quick_item quick01">
          <img src="../img/quick_icon02.png" alt="">
          <p>식자재 주문<br>사용 매뉴얼</p>
        </a>
        <a href="" class="quick_item quick01">
          <img src="../img/quick_icon03.png" alt="">
          <p>즐겨찾기<br>추가하기</p>
        </a>
        <a href="" class="quick_item quick01">
          <img src="../img/quick_icon04.png" alt="">
          <p>카카오<br>고객센터</p>
        </a>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        $('.quick_trigger').click(function() {
          $('.quick_trigger').toggleClass('active');
          $('.quick_bar_wrap').toggleClass('active');
        });
      });
    </script>

    <!-- 헤더 스타일1 header style1 -->
    <header id="header" class="header">
      <div class="inner">
        <a href="/" class="header_logo"><img src="../img/header_logo.png" alt="라임푸드 로고" /></a>
        <ul class="gnb">
          <li><a href="#">사용방법안내</a></li>
          <li><a href="#" class="current">식자재주문</a></li>
          <li><a href="#">주문관리</a></li>
          <li><a href="#">마감관리</a></li>
        </ul>
        <a href="#" class="admin">admin</a>
        <div class="my_wrap">
          <a href="#" class="my_id">ID : foody1234</a>
          <span class="bar"></span>
          <a href="#" class="my_info">나의정보보기</a>
          <span class="bar"></span>
          <a href="#" class="logout">로그아웃</a>
        </div>
      </div>
    </header>

    <div class="howto">
      <section class="section01">
        <div class="inner">
          <div class="txt_wrap wow fadeInDown" data-wow-duration=".8s">
            <h2><span>라임푸드 사용방법안내</span></h2>
          </div>
          <div class="btn_wrap">
            <a href="#section02" class="btn"># 라임푸드 서비스 소개 <img src="../img/view_more_icon2.png" alt=""></a>
            <a href="#section03" class="btn"># 식자재 주문 (발주) <img src="../img/view_more_icon2.png" alt=""></a>
            <a href="#section06" class="btn"># 주문관리 (수정, 삭제) <img src="../img/view_more_icon2.png" alt=""></a>
            <a href="#section07" class="btn"># 마감관리 (조회) <img src="../img/view_more_icon2.png" alt=""></a>
          </div>
        </div>
      </section>
      <section class="section02" id="section02">
        <div class="inner">
          <div class="txt_wrap wow fadeInDown" data-wow-duration=".8s">
            <h5># 라임푸드 서비스 소개</h5>
            <h2><span>라임푸드 서비스</span>란?</h2>
            <p>소상공인, 관공서, 병원 등 <span>‘식자재 정기 배송이 필요한 사업장’에 합리적인 가격으로 직배송</span> 하는 서비스 입니다.</p>
          </div>
        </div>
      </section>
      <section class="section03" id="section03">
        <div class="inner">
          <div class="txt_wrap wow fadeInDown" data-wow-duration=".8s">
            <h5># 라임푸드 서비스 소개</h5>
            <h2>라임푸드 서비스만의 <span>장점</span></h2>
          </div>
          <div class="flex_wrap">
            <div class="flex_box fir wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
              <div class="icon_wrap"></div>
              <p>합리적인 가격<br>(도매가)</p>
            </div>
            <div class="flex_box sec wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".4s">
              <div class="icon_wrap"></div>
              <p>합리적인 가격<br>(도매가)</p>
            </div>
            <div class="flex_box thi wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".6s">
              <div class="icon_wrap"></div>
              <p>합리적인 가격<br>(도매가)</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section04" id="section04">
        <div class="inner">
          <div class="txt_wrap wow fadeInDown" data-wow-duration=".8s">
            <h5># 식사재 주문 (발주)</h5>
            <h2><span>식자재 주문</span>은 <span>어떻게</span> 하나요?</h2>
            <p><span>식자재 주문 화면</span>에서 <span>원하는 일자에 배송</span>되도록 필요한 식자재를 주문할 수 있답니다~ </p>
          </div>
        </div>
      </section>
      <section class="section05" id="section05">
        <div class="inner">
          <div class="txt_wrap wow fadeInDown" data-wow-duration=".8s">
            <h5># 식사재 주문 (발주) - 순서</h5>
            <h2>식자재 주문 <span>순서 안내</span></h2>
            <ul class="step">
              <li><span>STEP 01</span> 원하는 요청일 선택</li>
              <li><span>STEP 02</span>주문할 식자재 검색</li>
              <li><span>STEP 03</span>주문할 식자재 선택</li>
              <li><span>STEP 04</span>주문수량 수정 및 상품 삭제</li>
              <li><span>STEP 05</span>클릭 시 주문 완료</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="section06" id="section06">
        <div class="inner">
          <div class="txt_wrap wow fadeInDown" data-wow-duration=".8s">
            <h5># 주문관리 (수정, 삭제)</h5>
            <h2><span>주문관리</span>란 뭔가요?</h2>
            <p><span>아직 배송되지 않은 주문 내역을 수정/변경</span> 할 수 있습니다.</p>
          </div>
        </div>
      </section>
      <section class="section07" id="section07">
        <div class="inner">
          <div class="txt_wrap wow fadeInDown" data-wow-duration=".8s">
            <h5># 마감관리(조회)</h5>
            <h2><span>마감관리</span>란 뭔가요?</h2>
            <p><span>과거에 주문했던 내역을 조회</span>할 수 있습니다.</p>
          </div>
        </div>
      </section>


    </div>
  </div>


</body>

</html>
