<div class="container-fluid">
    <div class="row">
        <div class="col-xs-5">
            <wj-pivot-panel [itemsSource]="ng"></wj-pivot-panel>
        </div>
        <div class="col-xs-7">
            <wj-pivot-grid #grid [itemsSource]="ng"></wj-pivot-grid>
        </div>
    </div>
    <p>
        You can configure the <b>PivotEngine</b> to show the row totals
        using the <b>showRowTotals</b> property:
    </p>
    <label>
        showRowTotals:
        <input id="showRowTotals" type="checkbox" (click)="onShowRowTotalsClick($event)">
    </label>
    <p>
        You can configure the <b>PivotGrid</b> to show column totals
        using the <b>showColumnTotals</b> property:
    </p>
    <label>
        showColumnTotals:
        <input id="showColumnTotals" type="checkbox" checked (click)="onShowColumnTotalsClick($event)">
    </label>
</div>