<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chungchunClean.Mappers.StockMapper">

<select id="getStockList" parameterType="hashMap" resultType="com.chungchunClean.vo.StockVo">
	select
		ctg_bas.l_categy_cd ,
		ctg_bas.l_categy_nm ,
		ctg_dtl.item_cd ,
		ctg_dtl.item_nm,
		ctg_dtl.qr_url,
		ctg_dtl.cost,
		ctg_dtl.quantity,
		case when ctg_dtl.quantity > 10 then 'O'
		     else 'X' end as status
	from
		web.category_bas ctg_bas
	left outer join WEB.category_dtl ctg_dtl on
		ctg_bas.l_categy_cd = ctg_dtl.l_categy_cd
	where
		1 = 1
	<if test="inq != null">
		<choose>
			<when test="con == 'all'">
			AND 
				<foreach collection="inq" item="item"
					index="index" open="(" close=")" separator="or">
					ctg_bas.l_categy_nm LIKE '%' || #{item} || '%'
					or
					ctg_dtl.item_nm LIKE '%' || #{item} || '%'
				</foreach>
			</when>
			<when test="con == 'category'">
			AND 
				<foreach collection="inq" item="item"
					index="index" open="(" close=")" separator="or">
					ctg_bas.l_categy_nm LIKE '%' || #{item} || '%'
				</foreach>
			</when>
			<when test="con == 'product'">
			AND 
				<foreach collection="inq" item="item"
					index="index" open="(" close=")" separator="or">
					ctg_dtl.item_nm LIKE '%' || #{item} || '%'
				</foreach>
			</when>
		</choose>
	</if>
	<if test="esn == 'true'">
		AND ctg_dtl.quantity <![CDATA[<=]]> 10
	</if>
	AND ctg_dtl.item_cd is not null
	ORDER BY l_categy_cd, item_cd
</select>

<select id="getCategoryList" resultType="com.chungchunClean.vo.StockVo">
	SELECT 
		ctg_bas.l_categy_cd ,
		ctg_bas.l_categy_nm ,
		to_char(coalesce(updt_dt, cret_dt),'yyyy-mm-dd HH24:MI:SS') as reg_date
	FROM web.category_bas ctg_bas
	ORDER BY l_categy_cd
</select>

<delete id="deleteCategory" parameterType="StockVo">
DELETE 
  FROM WEB.CATEGORY_BAS 
  WHERE 1=1
  AND l_categy_cd = #{lCategyCd} 
</delete>
<insert id="saveCategory" parameterType="StockVo">
INSERT INTO WEB.CATEGORY_BAS 
  (l_categy_cd, l_categy_nm, cret_dt, cret_id, updt_dt, updt_id)
  VALUES (#{lCategyCd} , #{lCategyNm}, now(), #{cretId}, now(), #{updtId})
ON CONFLICT( l_categy_cd) DO
UPDATE
	SET l_categy_cd = #{lCategyCd},
		l_categy_nm = #{lCategyNm},
		updt_dt		= now(),
		updt_id		= #{updtId}
</insert>
<select id="getLCategoryList" resultType="StockVo">
SELECT DISTINCT l_categy_cd, l_categy_nm
FROM WEB.CATEGORY_BAS
ORDER BY l_categy_cd
</select>
<select id="dupCheckItem" resultType="String" parameterType="StockVo">
SELECT
	item_cd
FROM
	WEB.CATEGORY_DTL
WHERE 1 = 1
AND l_categy_cd = #{lCategyCd}
AND item_cd = #{itemCd}
</select>

<insert id="addItem" parameterType="StockVo">
INSERT INTO WEB.CATEGORY_DTL
(l_categy_cd,  item_cd, item_nm, cost, cret_dt, cret_id, updt_dt ,updt_id, quantity)
VALUES(#{lCategyCd}, #{itemCd}, #{itemNm}, #{cost}::numeric, now(), #{cretId}, now(), #{updtId},0)	
</insert>

<delete id="deleteItem" parameterType="StockVo">
DELETE FROM WEB.CATEGORY_DTL
WHERE 1=1
AND l_categy_cd = #{lCategyCd}
AND item_cd = #{itemCd}
</delete>
<select id="getTotalItemCnt" resultType="String">
SELECT DISTINCT COUNT(ITEM_CD) AS ITEM_CD
FROM WEB.CATEGORY_DTL
</select>

<insert id="saveStock" parameterType="StockVo">
INSERT INTO WEB.CATEGORY_DTL 
  (l_categy_cd,   item_cd, item_nm, cost, cret_dt, cret_id, updt_dt, updt_id)
  VALUES (#{lCategyCd},#{itemCd}, #{itemNm}, #{cost}::numeric, now(), #{cretId}, now(), #{updtId})
ON CONFLICT( l_categy_cd, item_cd) DO
UPDATE
	SET l_categy_cd = #{lCategyCd},
		item_cd 	= #{itemCd},
		item_nm		= #{itemNm},
		cost		=  #{cost}::numeric,
		updt_dt		= now(),
		updt_id		= #{updtId}
</insert>

<update id="saveQuantity" parameterType="StockVo">

UPDATE WEB.CATEGORY_DTL 
	SET quantity = #{quantity}
WHERE 1=1
  AND l_categy_cd  	= #{lCategyCd}
  AND item_cd		= #{itemCd}
</update>

<select id="getQuantityInfo" resultType="HashMap">
SELECT
	sum(quantity) as tot_quantity ,
	(
	select
		count(*)
	from
		web.category_dtl
	where
		quantity <![CDATA[<]]> 10 ) as add_warehousing,
	sum(cost*quantity) as tot_asset
FROM
	web.category_dtl
</select>


<!-- 재고관리 - 입출내역 화면 -->
<select id="getStockCurrentList" parameterType="hashMap" resultType="StockVo">
	select cate_sar_seq
			,l_categy_cd 
			, l_categy_nm 
			, item_cd 
			, item_nm 
			, "cost" 
			, quantity 
			, classifi_cd 
			, classifi_nm 
			, sar_quantity 
			, return_quantity 
			, to_char(cret_dt, 'YYYY-MM-DD') as cret_dt 
			, cret_id 
			, cret_nm
			, to_char(updt_dt, 'YYYY-MM-DD') as updt_dt 
			, updt_id 
	from web.category_dtl_sar								 
	where 1 = 1
	<if test="inq != null">
	AND 
		<choose>
			<when test="con == 'all'">
				<foreach collection="inq" item="item"
					index="index" open="(" close=")" separator="or">
					l_categy_nm LIKE '%' || #{item} || '%'
					or
					item_nm LIKE '%' || #{item} || '%'
					or
					cret_nm LIKE '%' || #{item} || '%'
				</foreach>
			</when>
			<when test="con == 'category'">
				<foreach collection="inq" item="item"
					index="index" open="(" close=")" separator="or">
					l_categy_nm LIKE '%' || #{item} || '%'
				</foreach>
			</when>
			<when test="con == 'product'">
				<foreach collection="inq" item="item"
					index="index" open="(" close=")" separator="or">
					item_nm LIKE '%' || #{item} || '%'
				</foreach>
			</when>
			<when test="con == 'person'">
				<foreach collection="inq" item="item"
					index="index" open="(" close=")" separator="or">
					cret_nm LIKE '%' || #{item} || '%'
				</foreach>
			</when>
		</choose>
	</if>
	<if test="fromDate != null and toDate != null">
		and cret_dt between #{fromDate}::timestamp and #{toDate}::timestamp 
	</if>
	ORDER BY cret_dt, l_categy_cd, item_cd
</select>

<delete id="deleteStockCurrent" parameterType="StockVo">
	delete from web.category_dtl_sar 
	where cate_sar_seq = #{cateSarSeq}::integer
</delete>

<insert id="saveStockCurrent" parameterType="StockVo">
insert into web.category_dtl_sar (
		l_categy_cd -- 대카테고리코드
		, l_categy_nm -- 대카테고리명
		, item_cd-- 물품코드
		, item_nm -- 물품명
		, "cost" -- 물품원가
		, quantity -- 물품재고
		, classifi_cd -- 분류코드
		, classifi_nm -- 분류명
		, sar_quantity -- 입출고수량
		, return_quantity -- 반품입출고수량
		, cret_dt -- 등록일자
		, cret_id -- 등록자
		, updt_dt -- 수정일자
		, updt_id -- 수정자
		, cret_nm -- 등록자명
)
values(
		#{lCategyCd} -- 대카테고리코드
		, #{lCategyNm} -- 대카테고리명
		, #{itemCd}-- 물품코드
		, #{itemNm} -- 물품명
		, #{cost} -- 물품원가
		, #{quantity}-- 물품재고
		, #{classifiCd} -- 분류코드
		, #{classifiNm} -- 분류명
		, #{sarQuantity} -- 입출고수량
		, #{returnQuantity} -- 반품입출고수량
		, #{cretDt} -- 등록일자
		, #{cretId} -- 등록자
		, #{updtDt} -- 수정일자
		, #{updtId} -- 수정자
		, #{cretNm} -- 등록자명
)
</insert>

<select id="getTodayStore" resultType="Integer">
	select COALESCE(sum(sar_quantity), 0)
	from web.category_dtl_sar 
	where to_char(cret_dt, 'YYYY-MM-DD') = to_char(NOW(), 'YYYY-MM-DD')
	and classifi_cd = 'S'
</select>
	
<select id="getTodayRelease" resultType="Integer">
	select COALESCE(sum(sar_quantity), 0)
	from web.category_dtl_sar 
	where to_char(cret_dt, 'YYYY-MM-DD') = to_char(NOW(), 'YYYY-MM-DD')
	and classifi_cd = 'R'
</select>	

<select id="getTodayReturnStore" resultType="Integer">
	select COALESCE(sum(return_quantity), 0)
	from web.category_dtl_sar 
	where to_char(cret_dt, 'YYYY-MM-DD') = to_char(NOW(), 'YYYY-MM-DD')
	and classifi_cd = 'RS'
</select>
	
<select id="getTodayReturnRelease" resultType="Integer">
	select COALESCE(sum(return_quantity), 0)
	from web.category_dtl_sar 
	where to_char(cret_dt, 'YYYY-MM-DD') = to_char(NOW(), 'YYYY-MM-DD')
	and classifi_cd = 'RR'
</select>	

<select id="getItemList" resultType="StockVo">
	select distinct l_categy_cd, item_cd, item_nm
	from WEB.CATEGORY_dtl
	ORDER BY l_categy_cd, item_cd
</select>

<select id="getClassifiList" resultType="CodeVo">
	SELECT code_dtl_cd as cd, code_dtl_nm as nm
	FROM WEB.code
	where code_cd = 'classifi'
	ORDER BY code_dtl_nm
</select>

</mapper>