<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chungchunClean.Mappers.StockMapper">

<select id="getStockList" parameterType="hashMap" resultType="hashMap">
	select
		ctg_bas.l_categy_cd ,
		ctg_bas.l_categy_nm ,
		ctg_bas.m_categy_cd ,
		ctg_bas.m_categy_nm ,
		ctg_dtl.item_cd ,
		ctg_dtl.item_nm,
		ctg_dtl.qr_url,
		ctg_dtl.cost
	from
		web.category_bas ctg_bas
	left outer join WEB.category_dtl ctg_dtl on
		ctg_bas.l_categy_cd = ctg_dtl.l_categy_cd
		and ctg_bas.m_categy_cd = ctg_dtl.m_categy_cd
	where
		1 = 1
	<if test="inq != null">
	AND 
		<choose>
			<when test="con == 'all'">
				<foreach collection="inq" item="item"
					index="index" open="(" close=")" separator="or">
					A.l_categy_nm LIKE '%' || #{item} || '%'
					or
					A.m_categy_nm LIKE '%' || #{item} || '%'
					or
					B.item_nm LIKE '%' || #{item} || '%'
				</foreach>
			</when>
			<when test="con == 'category'">
				<foreach collection="inq" item="item"
					index="index" open="(" close=")" separator="or">
					A.l_categy_nm LIKE '%' || #{item} || '%'
					or
					A.m_categy_nm LIKE '%' || #{item} || '%'
				</foreach>
			</when>
			<when test="con == 'product'">
				<foreach collection="inq" item="item"
					index="index" open="(" close=")" separator="or">
					B.item_nm LIKE '%' || #{item} || '%'
				</foreach>
			</when>
		</choose>
	</if>
</select>

<select id="getCategoryList" resultType="hashMap">
	SELECT 
		ctg_bas.l_categy_cd ,
		ctg_bas.l_categy_nm ,
		ctg_bas.m_categy_cd ,
		ctg_bas.m_categy_nm,
		to_char(coalesce(updt_dt, cret_dt),'yyyy-mm-dd HH24:MI:SS') as reg_date
	FROM web.category_bas ctg_bas
</select>

<delete id="deleteCategory" parameterType="com.chungchunClean.vo.StockVo">
DELETE 
  FROM WEB.CATEGORY_BAS 
  WHERE 1=1
  AND l_categy_cd = #{l_categy_cd} 
  AND m_categy_cd = #{m_categy_cd}
</delete>
</mapper>