<div class="container-fluid">
    <div class="row">
        <label for="cb">
            Please select a Palette:
        </label>
        <wj-combo-box #cb [itemsSource]="paletteData" (selectedIndexChanged)="selectedIndexChanged(cb)"
            (formatItem)="formatItem($event)" [showGroups]=true [displayMemberPath]="name">
        </wj-combo-box>
    </div>
    <div class="row">
        <div class="col">
            <wj-flex-chart header="Country GDP" footer="2016, in USD billions" [itemsSource]="data" bindingX="country"
                [palette]="palette" [itemFormatter]="chartItemFormatter" tooltipContent="<b>{country}</b><br>{value}">
                <wj-flex-chart-series binding="2016"></wj-flex-chart-series>
            </wj-flex-chart>
        </div>
        <div class="col">
            <wj-flex-pie header="Country GDP" footer="2016, in USD billions" [itemsSource]="data" bindingName="country"
                binding="2016" [palette]="palette" [itemFormatter]="pieItemFormatter">
            </wj-flex-pie>
        </div>
    </div>
</div>