body {
    margin-bottom: 24px;
}

label {
    margin-right: 3px;
}

.row {
    margin: 1em;
}

.col {
    float:left;
    width: 50%;
}

.wj-flexchart {
    margin: 12px;
    height: 360px;
}
