<div class="container-fluid">

    <label>
        Paging
        <input id="paging"
            type="checkbox"
            [checked]="view.pageSize > 0"
            (change)="view.pageSize = view.pageSize == 0 ? 8 : 0">
    </label>

    <br />

    <wj-collection-view-navigator
        [cv]="view"
        [byPage]="true">
    </wj-collection-view-navigator>

    <wj-flex-grid #theGrid
        [itemsSource]="view"
        [allowAddNew]="true"
        [allowDelete]="true"
        [showMarquee]="true"
        [selectionMode]="'MultiRange'"
        [deferResizing]="true"
        [alternatingRowStep]="0"
        (initialized)="initGrid(theGrid)">
        <wj-flex-grid-filter></wj-flex-grid-filter>
    </wj-flex-grid>
</div>