<div class="container-fluid">
    <p>
        Use an <b>ng-template</b> element with the <b>wjFlexGridCellTemplate</b> directive
        to define a cell template.
        The content of the <b>ng-template</b> element defines the cell content.
        The <b>cellType</b> property specifies the type of the cells represented by the template.
        The <b>cell</b> local template variable contains an object with cell specific data,
        including the data item (<b>item</b>), row (<b>row</b>) and column (<b>col</b>) that
        the cell represents.
    </p>
    <p>
        Note that column-specific templates should be defined as children of
        the corresponding <b>wj-flex-grid-column</b> component, while the others
        are defined under the <b>wj-flex-grid</b> element.
    </p>
    <wj-flex-grid #grid [itemsSource]="data" [allowSorting]="false" [autoSizeMode]="'Both'" [allowResizing]="'Both'"
        [deferResizing]="true">

        <ng-template wjFlexGridCellTemplate [cellType]="'TopLeft'" *ngIf="customTopLeft">
            №
        </ng-template>
        <ng-template wjFlexGridCellTemplate [cellType]="'BottomLeft'" *ngIf="customBottomLeft">
            &#931;
        </ng-template>
        <ng-template wjFlexGridCellTemplate [cellType]="'RowHeader'" *ngIf="customRowHeader" let-cell="cell">
            {{cell.row.index + 1}}
        </ng-template>
        <ng-template wjFlexGridCellTemplate [cellType]="'RowHeaderEdit'" *ngIf="customRowHeaderEdit">
            ...
        </ng-template>

        <wj-flex-grid-column header="Country" binding="country" width="*">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" *ngIf="customCell" let-cell="cell">
                <img src="resources/{{cell.item.country}}.png" />
                {{cell.item.country}}
            </ng-template>
            <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" *ngIf="customCellEdit" let-cell="cell">
                <wj-combo-box [itemsSource]="countries" class="cell-editor" [(selectedValue)]="cell.value"
                    [isEditable]="false" [isRequired]="false" [placeholder]="'Select a Country'">
                </wj-combo-box>
            </ng-template>
            <ng-template wjFlexGridCellTemplate [cellType]="'GroupHeader'" *ngIf="customGroupHeader" let-cell="cell">
                <input type="checkbox" [(ngModel)]="cell.row.isCollapsed" />
                {{cell.item.name}} ({{cell.item.items.length}} items)
            </ng-template>
        </wj-flex-grid-column>

        <wj-flex-grid-column header="Downloads" binding="downloads" [width]="170" [aggregate]="'Sum'">
            <ng-template wjFlexGridCellTemplate [cellType]="'ColumnHeader'" *ngIf="customColumnHeader">
                <input type="checkbox" [(ngModel)]="highlightDownloads" />
                Downloads
            </ng-template>
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" *ngIf="customCell" let-cell="cell">
                <span [ngStyle]="{color: highlightDownloads? (cell.item.downloads>10000 ?'green':'red'):''}"
                    style="font-weight:700">
                    {{cell.item.downloads}}
                </span>
            </ng-template>
            <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" *ngIf="customCellEdit" let-cell="cell">
                <wj-input-number class="cell-editor" [(value)]="cell.value" [step]="1"></wj-input-number>
            </ng-template>
            <ng-template wjFlexGridCellTemplate [cellType]="'Group'" *ngIf="customGroup" let-cell="cell">
                Sum = {{cell.value | number:'1.0-0'}}
            </ng-template>
            <ng-template wjFlexGridCellTemplate [cellType]="'ColumnFooter'" *ngIf="customColumnFooter" let-cell="cell">
                Sum: {{cell.value | number:'1.0-0'}}
            </ng-template>
        </wj-flex-grid-column>
    </wj-flex-grid>

    <div class="checkbox-list">
        <div class="checkbox-list-title">Column level templates:</div>
        <div class="checkbox-cell">
            <label class="checkbox">
                <input type="checkbox" [(ngModel)]="customCell" /> Cell
            </label>
            <label class="checkbox">
                <input type="checkbox" [(ngModel)]="customCellEdit" /> CellEdit
            </label>
        </div>
        <div class="checkbox-cell">
            <label class="checkbox">
                <input type="checkbox" [(ngModel)]="customColumnHeader" /> ColumnHeader
            </label>
            <label class="checkbox">
                <input type="checkbox" [(ngModel)]="customColumnFooter" /> ColumnFooter
            </label>
        </div>
        <div class="checkbox-cell">
            <label class="checkbox">
                <input type="checkbox" [(ngModel)]="customGroupHeader" /> GroupHeader
            </label>
            <label class="checkbox">
                <input type="checkbox" [(ngModel)]="customGroup" /> Group
            </label>
        </div>

        <div class="checkbox-list-title">Grid level templates:</div>
        <div class="checkbox-cell">
            <label class="checkbox">
                <input type="checkbox" [(ngModel)]="customTopLeft" /> TopLeft
            </label>
            <label class="checkbox">
                <input type="checkbox" [(ngModel)]="customBottomLeft" /> BottomLeft
            </label>
        </div>
        <div class="checkbox-cell">
            <label class="checkbox">
                <input type="checkbox" [(ngModel)]="customRowHeader" /> RowHeader
            </label>
            <label class="checkbox">
                <input type="checkbox" [(ngModel)]="customRowHeaderEdit" /> RowHeaderEdit
            </label>
        </div>
    </div>
</div>