<div class="container-fluid">
    <wj-flex-grid
        [showMarquee]="true"
        [selectionMode]="'MultiRange'"
        [(itemsSource)]="data">
        <wj-flex-grid-column binding="id" header="ID" [isReadOnly]="true" [width]="80"></wj-flex-grid-column>
        <wj-flex-grid-column binding="country" header="Country" [dataMap]="countries"></wj-flex-grid-column>

        <wj-flex-grid-column binding="rating" header="Rating (no stars)"></wj-flex-grid-column>
        <wj-flex-grid-column
            binding="rating"
            header="Rating (editable)"
            align="center"
            [width]="220"
            [cellTemplate]="tplRating">
        </wj-flex-grid-column>
        <wj-flex-grid-column
            binding="rating"
            header="Rating (read-only)"
            align="center"
            cssClass="custom-rating"
            [isReadOnly]="true"
            [width]="220"
            [cellTemplate]="tplRatingReadOnly">
    </wj-flex-grid-column>
    </wj-flex-grid>
</div>
