<div class="container-fluid">

    <label>
        Paging
        <input id="paging"
            type="checkbox"
            [checked]="view.pageSize > 0"
            (change)="view.pageSize = view.pageSize == 0 ? 8 : 0">
    </label>
    <button (click)="logInOut()" id="auth-btn" class="btn btn-primary" style="float:right">
        Sign In
    </button>

    <br />

    <wj-collection-view-navigator #nav
        [cv]="view"
        [byPage]="true"
        headerFormat="{current:n0}">
    </wj-collection-view-navigator>

    <wj-flex-grid #theGrid
        [allowAddNew]="true"
        [allowDelete]="true"
        [showMarquee]="true"
        selectionMode="MultiRange"
        [deferResizing]="true"
        [alternatingRowStep]="0"
        [isReadOnly]="isReadOnly"
        [itemsSource]="view"
        (initialized)="initGrid(theGrid)">
        <wj-flex-grid-filter></wj-flex-grid-filter>
    </wj-flex-grid>

    <p [innerHTML]="msg"></p>
</div>