<div class="container-fluid">
    <label>Layout option: 
        <wj-combo-box 
            [itemsSource]="layoutDefs"
            [displayMemberPath]="'name'"
            [(selectedValue)]="currentLayout">
        </wj-combo-box>
    </label>
    <p>{{currentLayout.descriptions.main}}</p>
    <label>Transposed MultiRow</label>
    <p>{{currentLayout.descriptions.transposedView}}</p>
    <wj-transposed-multi-row #trnMultirow
        [itemsSource]="orders"
        [layoutDefinition]="currentLayout.def">
    </wj-transposed-multi-row>
    <div>
        <button (click)="exportToExcel()" class="btn btn-default">
            Export To Excel
        </button>
        <button (click)="exportToPdf()" class="btn btn-default">
            Export To PDF
        </button>
    </div>
    <label>Ordinary MultiRow</label>
    <p>{{currentLayout.descriptions.ordinaryView}}</p>
    <wj-multi-row
        [itemsSource]="orders"
        [layoutDefinition]="currentLayout.def">
    </wj-multi-row>
</div>
