<div class="container-fluid">
    <label>
        Collapse/Expand Animation
        <input id="animated" type="checkbox" [(ngModel)]="animated"/>
    </label>
    <button class="btn btn-primary"
        (click)="rowGroups = (rowGroups != rowGroups1) ? rowGroups1 : rowGroups2">
        Toggle Row Groups
    </button>
    <wj-transposed-grid [ngClass]="{'animated': animated}"
        showSelectedHeaders="Row"
        [alternatingRowStep]="0"
        [showMarquee]="true"
        [autoGenerateRows]="false"
        [rowGroups]="rowGroups"
        [itemsSource]="data">
    </wj-transposed-grid>
</div>