.wj-flexgrid {
    max-height: 250px;
    margin: 10px 0;
}

.hdr-tip {
    background: black;
    color: lightblue;
    padding: 1em 2em;
    margin: .5em;
    border-radius: 1em;
}

.hdr-tip .col-header {
    color: orange;
    font-weight: bold;
    font-size: 150%;
}