#sample {
    padding: 12px;
    font-style: bold;
}

#ratio {
    font-size: 200%;
    padding: 12px;
    font-style: bold;
    text-align: center;
    border-radius: 4px;
    border: 2px solid whitesmoke;
}

.sample {
    padding: 6px;
    margin: 6px 0;
    border: 2px solid whitesmoke;
}

.large {
    font-size: 14pt;
    font-weight: bold;
}

.result {
    font-weight: bold;
    margin-right: 2em;
    padding: 3px 6px;
    border-radius: 6px;
    color: white;
    background: darkgreen;
}
.result.fail {
    background: darkred;
}