<div class="container-fluid">
    <wj-flex-grid #flex [deferResizing]="true" [(itemsSource)]="data">
        <wj-flex-grid-column [header]="'ID'" [binding]="'id'" [width]="60" [allowResizing]="false">
        </wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Country'" [binding]="'country'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Sales'" [binding]="'sales'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Expenses'" [binding]="'expenses'"></wj-flex-grid-column>
    </wj-flex-grid>
    <div class="panel panel-warning">
        <div class="panel-heading">
            To resize multiple columns at once, select a range and press the control
            key while resizing one of the columns in the selected range.
        </div>
    </div>
</div>