/* common */

.blind {
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
}

.logo {
    margin: 30px auto;
    width: 123px;
    height: 112px;
    font-size: 0;
    background: url(../image/logo.png) center/cover no-repeat;
}

.logo.logo_s {
    width: 80px;
    height: 72px;
}

.terms_area {
    position: absolute;
    bottom: 50px;
    line-height: 16px;
}

.terms_area a {
    font-size: 0.8999em;
    color: #fff;
}

.terms_area a:first-of-type {
    margin-right: 5px;
    border-right: 2px solid #fff;
    padding-right: 9px;
}

.admin_wrap {
    width: 100vw;
    height: 100vh;
    min-width: 1300px;
    overflow: hidden auto;
    background-color: #f5f5f5;
}

.admin_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 210px;
    height: 100%;
    min-height: 720px;
    color: #fff;
    background-color: #35374D;
}

.admin_sidebar .terms_area {
    bottom: 80px;
    left: 15px;
    opacity: 0.7;
}

.admin_nav .dept1 {
    display: block;
    margin: 8px 0 8px 15px;
    border-radius: 50px 0 0 50px;
    padding: 12px 0 12px 15px;
    color: #fff;
}

.admin_nav .dept1:before {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    content: "";
    vertical-align: middle;
    background: url(../image/icon.png) no-repeat;
}

.admin_nav .dept1.client:before {
    background-position: -20px 0;
}

.admin_nav .dept1.daily:before {
    background-position: -40px 0;
}

.admin_nav .dept1.stuck:before {
    background-position: -60px 0;
}

.admin_nav .dept1.calculate:before {
    background-position: -80px 0;
}

.admin_nav .dept1.manage:before {
    background-position: -100px 0;
}
.admin_nav .dept1.terms:before {
    background-position: -120px 0;
}

.admin_nav .dept1.current {
    padding-right: 40px;
    color: #35374D;
    font-weight: bold;
    background-color: #fff;
}

.admin_nav .dept1.current:before {
    background-position: 0 -20px;
}

.admin_nav .dept1.current.client:before {
    background-position: -20px -20px;
}

.admin_nav .dept1.current.daily:before {
    background-position: -40px -20px;
}

.admin_nav .dept1.current.stuck:before {
    background-position: -60px -20px;
}

.admin_nav .dept1.current.calculate:before {
    background-position: -80px -20px;
}

.admin_nav .dept1.current.manage:before {
    background-position: -100px -20px;
}

.admin_nav .dept1.current.terms:before {
    background-position: -120px -20px;
}

.admin_nav .dept2 a {
    display: block;
    margin: 5px 0 5px 55px;
    color: rgba(221, 221, 221, 0.8);
}

.admin_nav .dept2 a:before {
    display: inline-block;
    margin-right: 4px;
    content: "-";
}

.admin_nav .dept2 a.current {
    color: #ffc962;
}

.admin_out {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 18px 0;
    text-align: center;
    font-weight: 900;
    background-color: #ffc962;
}

.admin_container {
    margin-left: 210px;
    padding: 25px;
    height: 100vh;
    max-height: 100vh;
}

.admin_container h2 {
    margin-bottom: 30px;
    font-size: 1.333em;
    font-weight: 900;
}

.admin_container h3 {
    margin-bottom: 20px;
    font-size: 1.1555em;
    font-weight: 700;
}

.admin_container select,
.admin_container input {
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    padding: 8px;
    color: #a8a8a8;
    background-color: #fff;
}

.admin_container .tabpanel {
    border: 2px solid #efefef;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
}

.admin_tab {
    display: table;
    border-collapse: collapse;
}

.admin_tab a {
    display: inline-block;
    border: 2px solid #efefef;
    border-bottom-width: 0;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.admin_tab a.on {
    background-color: #ffc962;
    border-color: transparent;
}

.admin_summary {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
    border: 2px solid #efefef;
    border-radius: 10px;
    padding: 15px 0;
    height: 80px;
    background-color: #fff;
}

.admin_summary dl {
    flex-basis: 33%;
    align-items: center;
    border-right: 2px solid #ececec;
    line-height: 3px;
}

.admin_summary dl:last-of-type {
    border-width: 0;
}

.admin_summary dt {
    margin-bottom: 24px;
    font-size: 1.114em;
    font-weight: 900;
}

.admin_summary a {
    display: inline-block;
    margin: 0 auto;
    border: 2px solid #35374D;
    border-radius: 30px;
    padding: 12px 30px 12px 50px;
    color: #35374D;
    vertical-align: middle;
    transition: all 0.3s;
}

.admin_summary a:after {
    display: inline-block;
    margin-left: 30px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #35374D;
    content: "+";
}

.admin_summary a:hover {
    background-color: #35374D;
    color: #fff;
}

@media screen and (max-width: 1320px) {
    .admin_summary a {
        padding: 10px 18px;
    }
}

.admin_utility {
    position: relative;
    height: 38px;
    margin-bottom: 12px;
}

.admin_utility label {
    margin-right: 3px;
}

.admin_utility_btn {
    border-radius: 8px;
    padding: 8px 20px;
    color: #fff;
    background-color: #35374D;
}

.admin_btn {
    position: absolute;
    top: 0;
    right: 0;
}

.admin_btn .btn {
    margin-left: 5px;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    padding: 8px 10px;
    min-width: 100px;
    color: #818181;
}

.admin_box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.admin_box section {
    flex: 1 1 calc(50% - 8px);
    margin-bottom: 16px;
    border: 2px solid #ececec;
    border-radius: 10px;
    padding: 30px 20px;
    background-color: #fff;
}

.admin_box section:nth-of-type(2n) {
    margin-left: 16px;
}

.admin_box section:nth-of-type(3) {
    flex-basis: 33.3333%;
}

.admin_content {
    border: 2px solid #efefef;
    border-radius: 10px;
    padding: 10px 10px 5px;
    background-color: #fff;
}

.admin_filter {
    position: relative;
    border-radius: 7px;
    padding: 25px;
    vertical-align: middle;
    background-color: #efefef;
}

.admin_filter select,
.admin_filter input {
    margin-left: 5px;
    padding: 12px;
    width: 150px;
}

.admin_filter input[type="checkbox"] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.admin_filter button {
    margin-left: -12px;
    border-radius: 0 8px 8px 0;
    padding: 11px 20px;
    color: #fff;
    vertical-align: middle;
    background: #a8a8a8 url(../image/icon_search.png) center no-repeat;
    text-indent: -9999px;
}

.admin_filter .summary {
    position: absolute;
    top: 30px;
    right: 30px;
}

@media screen and (max-width: 1299px) {
    .admin_filter .summary {
        position: relative;
        top: 10px;
    }
}

.admin_filter dl {
    display: inline-block;
    margin-left: 12px;
    border-left: 2px solid #dbdbdb;
    padding-left: 12px;
    font-size: 0.9em;
    text-align: center;
}

.admin_filter dl:first-of-type {
    border: none;
}

.admin_filter dt {
    color: #35374D;
    font-weight: 700;
}

.admin_dashboard {
    overflow: hidden;
    margin: 10px 0;
}

.admin_dashboard .btn_wrap {
    float: right;
}

.admin_dashboard select,
.admin_dashboard input {
    padding: 10px 30px 10px 12px;
}

.admin_dashboard button {
    margin-left: 10px;
    border-radius: 3px;
    padding: 9px 12px;
    min-width: 80px;
    background-color: #ffc962;
}

.admin_dashboard button.stroke {
    border: 3px solid #ffc962;
    padding: 6px 12px;
    background-color: #fff;
}

.admin_dashboard button.left {
    border-color: #efefef;
}

.admin_dashboard button.att {
    margin-left: 3px;
    border-radius: 8px;
    min-width: 70px;
    color: #fff;
    background-color: #35374D;
}

.admin_dashboard .mark {
    display: inline-block;
    margin-top: 16px;
}

.admin_dashboard .mark span {
    margin-right: 20px;
}

.admin_dashboard .mark dfn {
    vertical-align: middle;
}

.admin_dashboard .mark_enough {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #4674f3;
}

.admin_dashboard .mark_short:before,
.admin_dashboard .mark_short:after {
    display: inline-block;
    position: relative;
    left: 10px;
    width: 3px;
    height: 19px;
    transform: rotate(45deg);
    background-color: #f7ac4b;
    content: "";
}

.admin_dashboard .mark_short:after {
    position: relative;
    top: -8px;
    left: -1px;
    width: 19px;
    height: 3px;
}

.admin_dashboard .grid_wrap {
    float: left;
    width: 100%;
    height: auto;
    margin: 10px 0;
    background-color: #efefef;
}

.login_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #666;
    background: url(../image/bg_y.png) center/cover no-repeat;
}

.login_wrap p {
    font-size: 0.9em;
    text-align: center;
}

.login_box {
    width: 450px;
    padding: 40px;
    box-shadow: 10px 5px 20px rgba(5, 5, 51, 0.2);
    background-color: #fff;
}

.login_box .admin_logo {
    margin-bottom: 40px;
    text-align: center;
}

.login_box input {
    display: block;
    border-radius: 3px;
    padding: 10px 0 10px 20px;
    width: 320px;
    height: 30px;
    background-color: #eee;
}

.login_box input:nth-of-type(2n) {
    margin: 10px 0 12px;
}

.login_check input {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.login_btn {
    display: block;
    margin: 15px 0 20px;
    border-radius: 30px;
    width: 370px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: #ffc962;
    transition: all 0.5s;
    color: #fff;
}

.login_btn:hover {
    box-shadow: 390px 0 0 0 #ffb425 inset;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    min-height: 300px;
    max-height: calc(100% - 120px);
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 3px 3px 12px rgba(44, 44, 44, 0.2);
}

.popup_head {
    padding: 0 30px;
    height: 60px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 60px;
    background-color: #35374D;
}

.popup_head .popup_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 65px;
    font-size: 0;
}

.popup_head .popup_close:before,
.popup_head .popup_close:after {
    display: inline-block;
    width: 1px;
    height: 19px;
    transform: rotate(45deg);
    background-color: #fff;
    content: "";
}

.popup_head .popup_close:after {
    position: relative;
    top: -9px;
    left: -10px;
    width: 19px;
    height: 1px;
}

.popup_inner {
    padding: 15px 30px;
}

.popup_inner dfn {
    display: block;
    padding: 8px 0;
    color: #35374D;
    text-align: right;
}

.popup_inner .row {
    border-top: 1px solid #ddd;
    padding: 10px;
    min-width: 600px;
    overflow-y: auto;
}

.popup_inner .row:first-of-type {
    border-top: 3px solid #333;
}

.popup_inner label {
    display: inline-block;
    width: 100px;
}

.popup_inner label i {
    font-size: 20px;
    color: #35374D;
}

.popup_inner select,
.popup_inner input {
    padding: 10px;
    border-radius: 5px;
}

.popup_inner input {
    background-color: #f1f1f1;
    color: #b8b8b8;
}

.popup_inner input[type="checkbox"] {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 10px;
}

.popup_inner input[name="codeNum"] {
    width: 30px;
}

.popup_inner input:read-only {
    background-color: #e2e2e2;
}

.popup_inner input:focus {
    color: #333;
}

.popup_inner textarea {
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
}


/* 팝업 그리드용 css 추가 */

.popup_grid {
    padding: 15px 30px;
}

.popup_grid dfn {
    display: block;
    padding: 8px 0;
    color: #35374D;
    text-align: right;
}

.popup_grid .row {
    border-top: 1px solid #ddd;
    padding: 10px;
    min-width: 600px;
    overflow-y: auto;
}

.popup_grid .row:first-of-type {
    border-top: 3px solid #333;
}

.popup_grid label {
    width: 100px;
}

.popup_grid label i {
    font-size: 20px;
    color: #35374D;
}

.popup_grid select,
.popup_grid input {
    padding: 10px;
    border-radius: 5px;
}

.popup_grid input {
    background-color: #f1f1f1;
    color: #b8b8b8;
}

.popup_grid input[type="checkbox"] {
    width: 20px;
    height: 18px;
    vertical-align: middle;
    margin-right: 10px;
}

.popup_grid input[name="codeNum"] {
    width: 30px;
}

.popup_grid input:read-only {
    background-color: #e2e2e2;
}

.popup_grid input:focus {
    color: #333;
}

.popup_grid textarea {
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.popup_btn {
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    font-size: 0.888em;
    color: #fff;
    background-color: #35374D;
}

.popup_btn.att {
    margin-left: 4px;
}

.popup_btn.confirm {
    width: 100%;
}

.popup_btn.stroke,
.popup_btn.fill {
    width: calc(50% - 4px);
}

.popup_btn.stroke {
    border: 2px solid #eee;
    padding: 6px;
    color: #acacac;
    background-color: #fff;
}

.popup_btn_area {
    overflow: hidden;
}

.popup_btn_area .right {
    float: right;
}

.popup_grid {
    margin: 12px 0;
}

.popup_grid_area .btn {
    display: inline-block;
    margin: 5px 0;
    border: 1px solid #a8a8a8;
    border-radius: 30px;
    padding: 5px 12px;
    float:left;
}

.popup_grid_area .pageCount {
    float:right; 
    margin: 10px 0px 10px 0px;
}

/*# sourceMappingURL=common.css.map */


/* 이명진 추가 */

.popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.wj-flexgrid .wj-cell .wj-cell-maker {
    width: 80%;
    height: 85%;
    padding: 0px;
    margin-top: 2px;
}

.pager {
    height: 30px;
    text-align: center;
    margin-top: 5px;
}

.pager span {
    padding: 7px;
}

.pager .selectPage {
    font-weight: bold;
    background-color: #ffc962;
    border-radius: 5px;
}