/* 이메일 스타일 */

*{margin:0;padding:0;box-sizing:border-box;color:#333;}
img{max-width:100%;}
ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
a{text-decoration:none;}

.email_style{width:700px;margin:0 auto;}
.header{background:#282b49;height:70px;position:relative;}
.header .logo{position:absolute;left:20px;top:50%;transform:translateY(-50%);}
.cont_wrap{background:#f1f6fa;padding:20px;}
.cont{background:#fff;padding:20px;}
.footer{background:#4e5380;padding:20px;position:relative;}
.footer ul.info li span{coloR:#fff;font-weight:300;font-size:12px;line-height:1.5;opacity:.5;}
.footer ul.info li span::after{content:'';display:inline-block;width:1px;height:8px;background:#fff;opacity:.3;margin:0 10px;}
.footer ul.info li span:last-child::after{display:none;}
.footer .copyrights{font-size:10px;color: rgba(255,255,255,.4);border-top: 1px solid rgba(255,255,255,.2);margin-top: 14px;padding-top: 14px;}
.footer .footer_logo{position:absolute;right:20px;top:20px;}

section h2{font-size:18px;font-weight:600;color:#282b49;margin-top:20px;}
section.section01 h1{font-size:24px;margin-bottom:20px;color:#282b49;}
section.section01 p{font-size:14px;line-height:1.6;}
section.section01 p span.point{color:#55c595;font-weight:800;}

.table_style01{width:100%;margin:20px 0;}
.table_style01 th{background:#3c4173;padding:8px;font-size:14px;color:#fff;}
.table_style01 td{border:1px solid #eee;text-align:center;padding:4px;font-size:14px;color:#656565;}
.table_style01 tr:nth-child(odd) td{background:#f8f8f8;}
.table_style01 td.sum{background:#eee!important;font-weight:600;}

.table_style02{width:100%;margin:30px 0 20px;}
.table_style02 th{background:#3c4173;padding:8px;font-size:14px;color:#fff;}
.table_style02 td{border:1px solid #eee;text-align:center;padding:4px;font-size:14px;color:#656565;}

p.notice_txt{font-size:13px;color:#888;}
.notice_wrap{background:#f8f8f8;padding:10px;margin-top:50px;border-radius:4px;}
.notice_wrap p{font-size:13px;color:#888;line-height:1.6;}
.notice_wrap p span.point{color:#55c595;font-weight:800;}
.notice_wrap p span.exp{font-weight:800;}

.div_line{width:100%;border:1px dashed #888;margin:30px 0;}
