<!DOCTYPE html>
<html lang="kr" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>라임푸드</title>
    <link rel="stylesheet" href="https://limefood.co.kr/css/mail_style.css">
</head>

<body>
    <div class="email_style">
        <div class="header">
            <a href="https://limefood.co.kr"><img src="https://limefood.co.kr/img/header_logo.png" class="logo" alt="라임푸드 로고"></a>
        </div>
        <div class="cont_wrap">
            <div class="cont">
                <section class="section01">
                    <h1>주문해 주셔서 감사합니다.</h1>
                    <p>
                        <span class="point">이름(ID) 고객님!</span> 안녕하세요. 라임푸드입니다.<br> 저희 서비스를 이용해주셔서 진심으로 감사드립니다.<br> 고객님의 주문이 정상적으로 이루어졌습니다. 아래 주문내역을 확인해주세요.<br>
                        <span class="exp">주문내역 조회는 라임푸드 홈페이지 – 주문관리에서 확인 가능합니다.</span>
                    </p>
                </section>
                <section class="section02">
                    <table class="table_style01">
                        <colgroup>
                            <col width="33.333%">
                            <col width="33.333%">
                            <col width="33.333%">
                        </colgroup>
                        <tr>
                            <th>주문자</th>
                            <th>주문일자</th>
                            <th>배송요청일</th>
                        </tr>
                        <tr>
                            <td>성함(ID)</td>
                            <td>2021년-1월-1일</td>
                            <td>2021년-1월-1일</td>
                        </tr>
                    </table>
                </section>
                <div class="div_line"></div>
                <section class="section03">
                    <h2>주문내역</h2>
                    <table class="table_style01">
                        <tr>
                            <th>NO</th>
                            <th>상품명</th>
                            <th>단위</th>
                            <th>원산지</th>
                            <th>과/면세</th>
                            <th>수량</th>
                            <th>단가</th>
                            <th>합계①</th>
                            <th>부가세②</th>
                            <th>총합</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>과세</td>
                            <td></td>
                            <td></td>
                            <td>수량x단가</td>
                            <td>합계x10%</td>
                            <td>①+②=1</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>면세</td>
                            <td></td>
                            <td></td>
                            <td>수량x단가</td>
                            <td>합계x10%</td>
                            <td>①+②=2</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>과세</td>
                            <td></td>
                            <td></td>
                            <td>수량x단가</td>
                            <td>합계x10%</td>
                            <td>①+②=3</td>
                        </tr>
                        <tr>
                            <td class="sum" colspan="10">총 상품구매 금액 : 1+2+3</td>
                        </tr>
                    </table>
                    <p class="notice_txt">※ 주문내역은 100개까지만 발송됩니다. 초과하는 경우, 라임푸드 홈페이지주문관리에서 확인바랍니다. </p>
                </section>
                <div class="div_line"></div>
                <section class="section04">
                    <h2>누적주문현황</h2>
                    <table class="table_style01">
                        <tr>
                            <th>NO</th>
                            <th>상품명</th>
                            <th>단위</th>
                            <th>원산지</th>
                            <th>과/면세</th>
                            <th>수량</th>
                            <th>단가</th>
                            <th>합계①</th>
                            <th>부가세②</th>
                            <th>총합</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>과세</td>
                            <td></td>
                            <td></td>
                            <td>수량x단가</td>
                            <td>합계x10%</td>
                            <td>①+②=1</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>면세</td>
                            <td></td>
                            <td></td>
                            <td>수량x단가</td>
                            <td>합계x10%</td>
                            <td>①+②=2</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>과세</td>
                            <td></td>
                            <td></td>
                            <td>수량x단가</td>
                            <td>합계x10%</td>
                            <td>①+②=3</td>
                        </tr>
                        <tr>
                            <td class="sum" colspan="10">총 상품구매 금액 : 1+2+3</td>
                        </tr>
                    </table>
                </section>
                <div class="div_line"></div>
                <section class="section05">
                    <h2>배송지정보</h2>
                    <table class="table_style02">
                        <colgroup>
                            <col width="20%">
                            <col width="30%">
                            <col width="20%">
                            <col width="30%">
                        </colgroup>
                        <tr>
                            <th>받으시는 분</th>
                            <td colspan="3">성함 / 사업장명</td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <th>일반전화</th>
                            <td>없으면 - 표시</td>
                            <th>휴대전화</th>
                            <td>010-1234-5678</td>
                        </tr>
                    </table>
                    <div class="notice_wrap">
                        <p>
                            주문내역에 착오가 있거나, 주문내역을 변경하실 경우
                            <a href="https://limefood.co.kr" target="_blank">라임푸드 홈페이지(https://limefood.co.kr)</a> – 주문관리에서 변경 부탁드립니다.<br> 주문관리에서 변경된 내역은 이메일로 따로 발송되지 않습니다.<br> 그 외 문의사항이 있으신 경우 <span class="exp">고객센터(010-6489-8363)</span>로 연락주십시오. 다시
                            한 번 저희 서비스를 이용해주신 <span class="point">"이름(ID)" 고객님</span>께 진심으로 감사드립니다.
                        </p>
                    </div>
                </section>
            </div>
        </div>
        <div class="footer">
            <div class="inner">
                <a href="https://limefood.co.kr"><img src="https://limefood.co.kr/img/footer_logo.png" alt="라임푸드 로고" class="footer_logo"></a>
                <ul class="info">
                    <li><span>상호명 : 라임푸드</span><span>대표자명 : 김유신</span><span>사업자등록번호 : 894-19-01217</span></li>
                    <li><span>주소 : 경상남도 창원시 의창구 명서동 168-21 102호</span></li>
                    <li><span>고객센터 : 010-6398-8363</span><span>팩스 : 070-7611-6100</span><span>이메일 : lime_food@naver.com</span></li>
                </ul>
                <p class="copyrights">Copyrights (c) 2020 LIMEFOOD all Rights Reserved.</p>
            </div>
        </div>
    </div>
    <div class="cont_wrap">
        <div class="cont">
            <section class="section01">
                <h1>주문해 주셔서 감사합니다.</h1>
                <p>
                    <span class="point">이름(ID) 고객님!</span> 안녕하세요. 라임푸드입니다.<br> 저희 서비스를 이용해주셔서 진심으로 감사드립니다.<br> 고객님의 주문이 정상적으로 이루어졌습니다. 아래 주문내역을 확인해주세요.<br>
                    <span class="exp">주문내역 조회는 라임푸드 홈페이지 – 주문관리에서 확인 가능합니다.</span>
                </p>
            </section>
            <section class="section02">
                <table class="table_style01">
                    <colgroup>
                        <col width="33.333%">
                        <col width="33.333%">
                        <col width="33.333%">
                    </colgroup>
                    <tr>
                        <th>주문자</th>
                        <th>주문일자</th>
                        <th>배송요청일</th>
                    </tr>
                    <tr>
                        <td>성함(ID)</td>
                        <td>2021년-1월-1일</td>
                        <td>2021년-1월-1일</td>
                    </tr>
                </table>
            </section>
            <div class="div_line"></div>
            <section class="section03">
                <h2>주문내역</h2>
                <table class="table_style01">
                    <tr>
                        <th>NO</th>
                        <th>상품명</th>
                        <th>단위</th>
                        <th>원산지</th>
                        <th>과/면세</th>
                        <th>수량</th>
                        <th>단가</th>
                        <th>합계①</th>
                        <th>부가세②</th>
                        <th>총합</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>과세</td>
                        <td></td>
                        <td></td>
                        <td>수량x단가</td>
                        <td>합계x10%</td>
                        <td>①+②=1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>면세</td>
                        <td></td>
                        <td></td>
                        <td>수량x단가</td>
                        <td>합계x10%</td>
                        <td>①+②=2</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>과세</td>
                        <td></td>
                        <td></td>
                        <td>수량x단가</td>
                        <td>합계x10%</td>
                        <td>①+②=3</td>
                    </tr>
                    <tr>
                        <td class="sum" colspan="10">총 상품구매 금액 : 1+2+3</td>
                    </tr>
                </table>
                <p class="notice_txt">※ 주문내역은 100개까지만 발송됩니다. 초과하는 경우, 라임푸드 홈페이지주문관리에서 확인바랍니다. </p>
            </section>
            <div class="div_line"></div>
            <section class="section04">
                <h2>누적주문현황</h2>
                <table class="table_style01">
                    <tr>
                        <th>NO</th>
                        <th>상품명</th>
                        <th>단위</th>
                        <th>원산지</th>
                        <th>과/면세</th>
                        <th>수량</th>
                        <th>단가</th>
                        <th>합계①</th>
                        <th>부가세②</th>
                        <th>총합</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>과세</td>
                        <td></td>
                        <td></td>
                        <td>수량x단가</td>
                        <td>합계x10%</td>
                        <td>①+②=1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>면세</td>
                        <td></td>
                        <td></td>
                        <td>수량x단가</td>
                        <td>합계x10%</td>
                        <td>①+②=2</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>과세</td>
                        <td></td>
                        <td></td>
                        <td>수량x단가</td>
                        <td>합계x10%</td>
                        <td>①+②=3</td>
                    </tr>
                    <tr>
                        <td class="sum" colspan="10">총 상품구매 금액 : 1+2+3</td>
                    </tr>
                </table>
            </section>
            <div class="div_line"></div>
            <section class="section05">
                <h2>배송지정보</h2>
                <table class="table_style02">
                    <colgroup>
                        <col width="20%">
                        <col width="30%">
                        <col width="20%">
                        <col width="30%">
                    </colgroup>
                    <tr>
                        <th>받으시는 분</th>
                        <td colspan="3">성함 / 사업장명</td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <th>일반전화</th>
                        <td>없으면 - 표시</td>
                        <th>휴대전화</th>
                        <td>010-1234-5678</td>
                    </tr>
                </table>
                <div class="notice_wrap">
                    <p>
                        주문내역에 착오가 있거나, 주문내역을 변경하실 경우
                        <a href="https://limefood.co.kr" target="_blank">라임푸드 홈페이지(https://limefood.co.kr)</a> – 주문관리에서 변경 부탁드립니다.<br> 주문관리에서 변경된 내역은 이메일로 따로 발송되지 않습니다.<br> 그 외 문의사항이 있으신 경우 <span class="exp">고객센터(010-6489-8363)</span>로 연락주십시오. 다시 한 번
                        저희 서비스를 이용해주신 <span class="point">"이름(ID)" 고객님</span>께 진심으로 감사드립니다.
                    </p>
                </div>
            </section>
        </div>
    </div>
    <div class="footer">
        <div class="inner">
            <a href="https://limefood.co.kr"><img src="../img/footer_logo.png" alt="라임푸드 로고" class="footer_logo"></a>
            <ul class="info">
                <li><span>상호명 : 라임푸드</span><span>대표자명 : 김유신</span><span>사업자등록번호 : 894-19-01217</span></li>
                <li><span>주소 : 경상남도 창원시 의창구 명서동 168-21 102호</span></li>
                <li><span>고객센터 : 010-6398-8363</span><span>팩스 : 070-7611-6100</span><span>이메일 : limefood@naver.com</span></li>
            </ul>
            <p class="copyrights">Copyrights (c) 2021 LIMEFOOD all Rights Reserved.</p>
        </div>
    </div>
    </div>
</body>

</html>