<div class="container-fluid">
    <div class="form-group">
        <wj-flex-chart #theChart [itemsSource]="data" bindingX="date" chartType="Candlestick">
            <wj-flex-chart-series binding="high,low,open,close" name="Alphabet Inc" [symbolSize]="4">
            </wj-flex-chart-series>
            <wj-flex-chart-legend position="None"></wj-flex-chart-legend>
            <wj-flex-chart-axis wjProperty="axisX" [axisLine]="false" (rangeChanged)="rangeChanged()">
            </wj-flex-chart-axis>
            <wj-flex-chart-axis wjProperty="axisY" (rangeChanged)="rangeChanged()"></wj-flex-chart-axis>
            <wj-flex-chart-gestures #chartGestures [interactiveAxes]="interactiveAxes" [mouseAction]="mouseAction">
            </wj-flex-chart-gestures>
        </wj-flex-chart>
        <wj-menu *ngIf="!isTouch" [(value)]="mouseAction" header="Mouse Action">
            <wj-menu-item value="Zoom">Zoom</wj-menu-item>
            <wj-menu-item value="Pan">Pan</wj-menu-item>
        </wj-menu>
        <wj-menu [(value)]="interactiveAxes" header="Interactive Axes">
            <wj-menu-item value="X">X</wj-menu-item>
            <wj-menu-item value="Y">Y</wj-menu-item>
            <wj-menu-item value="XY">XY</wj-menu-item>
        </wj-menu>
        <button id="btnReset" class="btn btn-default" (click)="resetAxes()" [disabled]="resetDisabled">Reset
            Zoom</button>
    </div>
</div>