<div class="container-fluid">
    <p>
        This grid allows users to pin individual columns, 
        changing the column order if necessary:
    </p>
    <wj-flex-grid 
        [allowPinning]="'SingleColumn'" 
        [frozenColumns]="1"
        [itemsSource]="data">
    </wj-flex-grid>

    <p>
        This grid allows users to pin column ranges, 
        so the column order doesn't change:
    </p>
    <wj-flex-grid 
        [allowPinning]="'ColumnRange'" 
        [frozenColumns]="1"
        [itemsSource]="data">
    </wj-flex-grid>

</div>