.wj-flexgrid {
    height: 300px;
}
.wj-flexgrid .wj-cell.wj-frozen {
    background: #FFFBDD;
}

.ctx-menu {
    padding: 3px;
    min-width: 120px;
    background: rgb(221, 250, 255);
    overflow: hidden;
}

.ctx-menu .wj-listbox-item {
    margin: 6px;
}
