.wj-flexgrid {
    max-height: 250px;
    margin: 10px 0;
}

/* use flex display to center-align cells vertically */
.wj-flexgrid .wj-cell {
    display: flex;
    align-items: center;
}
.wj-flexgrid .wj-cell.wj-align-right {
    justify-content: flex-end;
}
.wj-flexgrid .wj-cell.wj-align-center {
    justify-content: center;
}

body {
    margin-bottom: 20px;
}