<div class="container-fluid">
    <wj-flex-grid
        [showMarquee]="true"
        [selectionMode]="'MultiRange'"
        [(itemsSource)]="data">
        <wj-flex-grid-column binding="id" header="ID" [isReadOnly]="true" [width]="80"></wj-flex-grid-column>
        <wj-flex-grid-column binding="country" header="Country" [dataMap]="countries"></wj-flex-grid-column>
        <wj-flex-grid-column
            binding="country"
            header="Simple Button"
            [width]="150"
            [cellTemplate]="tplSimpleButton">
        </wj-flex-grid-column>
        <wj-flex-grid-column
            binding="country"
            header="Custom Button"
            [width]="150"
            [cellTemplate]="tplCustomButton">
        </wj-flex-grid-column>
    </wj-flex-grid>
</div>
